@using AppointmentBuddy.Core.Model
@model IEnumerable<Services>

<h2>Update Services</h2>
<form asp-action="UpdateServiceSubmit" method="post">
    <div class="form-group">
        <label for="Name">Old Service Description:</label>
        @foreach (var r in Model)
        {
            <label for="Name">@r.Description</label>
            <input type="hidden" value="@r.Id" name="Id" />
        }
    </div>
    <div class="form-group">
        <label for="Name">New Service Description:</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>   <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
    </div>
</form>