<div class="mobile-menu">
    <div class="_content">
        <div class="mobile-master">
            <a href="@Url.Action("Index", "Home")">Appointment Buddy</a>
        </div>
    </div>
</div>
<section>
    <header>
        <div class="mid-header">
            <div class="_content">
                <div class="anc-container">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/img/ablogo.PNG" alt="AB" width="250" height="40" />
                    </a>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="below-header">
            <div class="_content">
                <div class="master-menu">
                    <div class="master-left scroll-left">
                        <b>Appointment Buddy is the one-stop application for all medical appointments.</b>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<style type="text/css">
    .scroll-left {
        color: white;
    }

        .scroll-left b {
            width: 100%;
            height: 100%;
            margin: 0;
            padding-left: 200px;
            padding-right: 100px;
            text-align: center;
            -moz-transform: translateX(80%);
            -webkit-transform: translateX(80%);
            transform: translateX(80%);
            -moz-animation: scroll-left 25s linear infinite;
            -webkit-animation: scroll-left 25s linear infinite;
            animation: scroll-left 25s linear infinite;
        }

    @@-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-25%);
        }
    }

    @@-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }

        100% {
            -webkit-transform: translateX(-25%);
        }
    }

    @@keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-25%);
            -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
        }
    }
</style>