<div id="deletionBox" class="alert-dialog">
    <div class="alert-dialog-content">
        <h3 class="quick-red">
            <b>
                Confirmation
            </b>
        </h3>
        <div class="quick-text quick-med-gap" id="cfmDeleteMsg">
            Deleting Patient Info
        </div>
        <div class="quick-ok-gap">
            <div id="confirmDeleteBox" class="quick-close" data-to-delete="">
                Confirm
            </div>
            <div class="quick-small-gap">
                <div id="cancelDeleteBox" class="quick-cancel">
                    Cancel
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .quick-close {
        margin: auto;
        left: 0%;
    }

    .quick-cancel {
        margin: auto;
        left: 0%;
    }
</style>