<div id="errorMsgBox" class="alert-dialog">
    <div class="alert-dialog-content">
        <h3 class="quick-red">
            <b id="BaseErrorMsgValue">
                Error
            </b>
        </h3>
        <div class="quick-right-text" id="errorMsgValue">
        </div>
        <div class="quick-right-text quick-med-gap" id="errorMsgInnerValue">
            The request was not completed.
        </div>
        <div class="quick-ok-gap">
            <div id="closeErrorBox" class="quick-submit">
                Close
            </div>
        </div>
    </div>
</div>

<style>
    .quick-submit {
        position: absolute;
        left: 2.5%;
        top: 77%;
        height: 3.5vw;
        width: 32vw;
        text-align: center;
        line-height: 3.75vw;
        background: #117c37;
        color: #fff;
        font-size: 1.1vw;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
    }
</style>