@using NUS_ISS_14_Appointment_Buddy.Helper
@using AppointmentBuddy.Core.Common.Helper
@using System.Security.Claims

<div class="footer1 footer2">
    <div class="_content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 cols">
                    <div class="mid-footer">
                        <ul>
                            <li><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></li>
                            <li><a href="~/Privacy">Privacy Statement</a></li>
                            <li><a href="~/TermsOfUse">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 cols">
                    <div class="copyright">
                        <p>&copy; @(DateTime.Now.Year)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-mobile">
    <div class="_content-wrapper">
        <div class="upper-content">
            <div class="_content">
                <div class="flex-footer">
                    <img src="~/img/gems-footer.png" alt="GEMS" />
                    <div class="right-content mobile-right-content">
                        <ul>
                            <li><a href="~/Contact">Contact Us</a></li>
                            <li><a href="@Url.Action("Index", "FAQ")">FAQ</a></li>
                            <li><a href="https://www.reach.gov.sg/" target="_blank">REACH</a></li>
                            <li><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></li>
                            <li><a href="~/Privacy">Privacy Statement</a></li>
                            <li><a href="~/TermsOfUse">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="below-footer">
            <div class="_content">
                <p>&copy; @(DateTime.Now.Year)</p>
            </div>
        </div>
    </div>
</div>

