@using NUS_ISS_14_Appointment_Buddy.Helper
@using AppointmentBuddy.Core.Common.Helper
@using System.Security.Claims

<div class="footer1 footer2">
    <div class="_content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 cols">
                    <div class="mid-footer">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 cols">
                    <div class="copyright">
                        <p>&copy; @(DateTime.Now.Year) Appointment Buddy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-mobile">
    <div class="_content-wrapper">
        <div class="upper-content">
            <div class="_content">
                <div class="flex-footer">
                    <img src="~/img/gems-footer.png" alt="GEMS" />
                    <div class="right-content mobile-right-content">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="below-footer">
            <div class="_content">
                <p>&copy; @(DateTime.Now.Year) Appointment Buddy</p>
            </div>
        </div>
    </div>
</div>

