<div id="savingInProgress" class="alert-dialog">
    <div class="save-load-dialog-content">
        <div class="savingText">
            <table class="field-validation-error quick-pad-med-right">
                <tr>
                    <td><i class="fas fa-cog fa-3x cog-spin"></i></td>
                    <td>
                        <div class="quick-pad-right quick-pad-up" id="savingTextId">Saving . . .</div>
                        <div class="quick-pad-right quick-pad-down">Please wait.</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>