@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.admin-panel {
  position: relative; }
  .admin-panel .admin-drops {
    background: #f8f8f8;
    position: absolute;
    border-radius: 5px;
    top: 74px;
    z-index: 99999999;
    min-width: 200px;
    left: -30px;
    display: block;
    border: 1px solid #eaecee;
    display: none; }
    .admin-panel .admin-drops .admin-wrapper {
      padding: 15px 15px 30px 15px; }
      .admin-panel .admin-drops .admin-wrapper ul {
        margin: 0;
        padding: 0; }
        .admin-panel .admin-drops .admin-wrapper ul li {
          padding-left: 20px !important;
          display: block !important; }
          .admin-panel .admin-drops .admin-wrapper ul li:not(:last-child) {
            padding-bottom: 15px; }
          .admin-panel .admin-drops .admin-wrapper ul li a {
            color: #314658;
            font-size: 16px;
            text-transform: capitalize;
            text-align: center;
            font-weight: 500; }
            .admin-panel .admin-drops .admin-wrapper ul li a:hover {
              text-decoration: none;
              color: #117c37 !important; }
    .admin-panel .admin-drops ._switch {
      background: #f5fbf7;
      padding: 15px; }
      .admin-panel .admin-drops ._switch p {
        margin-bottom: 0;
        font-size: 15px;
        color: #314658; }
      .admin-panel .admin-drops ._switch a {
        font-size: 18px;
        color: #34b95f;
        text-transform: capitalize;
        font-weight: 600; }
        .admin-panel .admin-drops ._switch a:hover {
          text-decoration: none; }
    .admin-panel .admin-drops:before {
      content: url("../img/pointer.png");
      position: absolute;
      left: 41%;
      top: -16px;
      display: block; }
  .admin-panel:hover {
    cursor: pointer; }

.for-notif {
  position: relative; }
  .for-notif .drops-notif {
    position: absolute;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    z-index: 9999;
    left: -65px;
    top: 55px;
    min-width: 350px;
    display: none; }
    .for-notif .drops-notif .drops-content {
      display: flex; }
      .for-notif .drops-notif .drops-content .fa-bell {
        color: #117c37 !important; }
      .for-notif .drops-notif .drops-content .notif-text {
        padding-left: 15px; }
        .for-notif .drops-notif .drops-content .notif-text p {
          font-size: 15px;
          color: #000000; }
          .for-notif .drops-notif .drops-content .notif-text p:last-child {
            margin-bottom: 0;
            font-size: 12px; }
        .for-notif .drops-notif .drops-content .notif-text:hover p {
          transition: all 0.3s ease;
          color: #117c37; }
      .for-notif .drops-notif .drops-content:first-child .notif-text {
        border-bottom: 1px solid #dce0e3;
        padding-bottom: 12px; }
      .for-notif .drops-notif .drops-content:last-child {
        padding-top: 12px; }
      .for-notif .drops-notif .drops-content:hover {
        cursor: pointer; }
    .for-notif .drops-notif:before {
      content: url("../img/pointer.png");
      position: absolute;
      top: -16px;
      left: 55px; }

._has-dropdown {
  position: relative; }
  ._has-dropdown .master-menu-sub {
    background: #f8f8f8;
    position: absolute;
    padding: 15px;
    min-width: 280px;
    z-index: 99999;
    border-radius: 5px;
    top: 50px;
    display: none; }
    ._has-dropdown .master-menu-sub a {
      color: #000000 !important;
      font-size: 16px !important;
      text-transform: capitalize !important;
      display: block !important; }
      ._has-dropdown .master-menu-sub a:hover {
        color: #117c37 !important;
        background: transparent !important; }
    ._has-dropdown .master-menu-sub:before {
      content: url("../img/pointer.png");
      position: absolute;
      top: -15px;
      left: 25px; }

.tooltip > .tooltip-inner {
  padding: 15px;
  font-size: 15px;
  background-color: #fff !important;
  color: #000;
  text-align: left;
  /*border: 1px solid #d8dce0;*/
  border-radius: 5px;
  opacity: 1; }

.tooltip > .tooltip-inner > span {
  color: #117c37;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 30px; }

.tooltip .arrow:before {
  border-bottom-color: #fff !important;
  border-top-color: #fff !important; }

._my-tender-body {
  padding-top: 15px; }
  ._my-tender-body ._content ._search-and-filter-content {
    background: #ffffff;
    border: 2px solid #e3e7ec;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 35px; }
    ._my-tender-body ._content ._search-and-filter-content .ken-flex {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; }
    ._my-tender-body ._content ._search-and-filter-content h3 {
      color: #000000;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 15px;
      text-transform: uppercase; }
    ._my-tender-body ._content ._search-and-filter-content .search-by-keyword {
      width: 100% !important;
      position: relative; }
      ._my-tender-body ._content ._search-and-filter-content .search-by-keyword input[type="text"] {
        border: 1px solid #dadde1;
        border-radius: 5px;
        font-size: 12px;
        padding: 15px;
        width: 100%; }
        ._my-tender-body ._content ._search-and-filter-content .search-by-keyword input[type="text"]:focus {
          outline: 0; }
      ._my-tender-body ._content ._search-and-filter-content .search-by-keyword button {
        border: 0;
        background: transparent;
        position: absolute;
        top: 10px;
        right: 10px; }
        ._my-tender-body ._content ._search-and-filter-content .search-by-keyword button .fa-search {
          color: #117c37; }
          ._my-tender-body ._content ._search-and-filter-content .search-by-keyword button .fa-search:hover {
            cursor: pointer; }
        ._my-tender-body ._content ._search-and-filter-content .search-by-keyword button:focus {
          outline: 0; }
    ._my-tender-body ._content ._search-and-filter-content ._category {
      height: 50px !important;
      padding-top: 5px; }
    ._my-tender-body ._content ._search-and-filter-content .white-btn {
      background: transparent;
      border: 1px solid #117c37;
      border-radius: 5px;
      color: #117c37;
      font-size: 12px;
      max-height: 50px;
      min-width: 120px;
      margin-right: 20px;
      padding: 15px 30px;
      text-transform: uppercase; }
      ._my-tender-body ._content ._search-and-filter-content .white-btn:hover {
        cursor: pointer; }
    ._my-tender-body ._content ._search-and-filter-content .red-btn {
      background: #117c37;
      border: 0;
      border-radius: 5px;
      color: #fff;
      font-size: 12px;
      max-height: 50px;
      min-width: 120px;
      padding: 15px 30px;
      text-transform: uppercase; }
      ._my-tender-body ._content ._search-and-filter-content .red-btn:hover {
        cursor: pointer; }
  ._my-tender-body ._content ._project-content {
    background: #ffffff;
    border-radius: 5px;
    border-left: 2px solid #e3e7ec;
    border-right: 2px solid #e3e7ec;
    border-bottom: 2px solid #e3e7ec;
    border-top: 5px solid #117c37;
    padding: 35px; }
    ._my-tender-body ._content ._project-content h3 {
      font-size: 30px;
      color: #000000;
      padding-bottom: 15px; }
    ._my-tender-body ._content ._project-content .ui-widget-content {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none; }
    ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons {
      border-bottom: 1px solid #ecf1f5; }
      ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-tab {
        max-width: 200px;
        height: 70px;
        white-space: normal; }
        ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-tab span {
          background: #e5e5e5;
          border-radius: 50%;
          display: inline-block;
          font-size: 12px;
          padding: 3px;
          height: 20px;
          width: 20px; }
      ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-tab:hover {
        background: none; }
      ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-active.ui-state-active {
        background: none;
        border-bottom: 3px solid #117c37;
        border-radius: 0; }
        ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-active.ui-state-active a {
          color: #117c37; }
    ._my-tender-body ._content ._project-content #tender-tabs .results-text span {
      color: #117c37;
      font-weight: bold; }
    ._my-tender-body ._content ._project-content #tender-tabs .results-frame {
      align-items: stretch;
      background: #ffffff;
      border: 1px solid #d4d7dc;
      border-radius: 5px;
      display: flex;
      justify-content: flex-start;
      margin: 25px 0;
      transition: all 0.3s ease; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner-whole {
        padding: 20px 30px;
        transition: all 0.3s ease;
        width: 75%; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner {
        padding: 20px 30px;
        transition: all 0.3s ease;
        width: 75%; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title h3 {
          font-size: 20px;
          font-weight: bold;
          margin-right: 30px;
          text-transform: uppercase; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title span {
          border-radius: 5px;
          color: #fff;
          display: inline-block;
          font-size: 11px;
          font-weight: bold;
          padding: 3px 20px;
          text-align: center;
          text-transform: uppercase; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title .pending {
          background: #f88d3b; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title .draft {
          background: #d1d4da; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title .goods {
          background: #2fbc4f; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame ul {
        font-size: 15px;
        list-style: none;
        margin: 0; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-frame ul li {
          padding-bottom: 15px; }
          ._my-tender-body ._content ._project-content #tender-tabs .results-frame ul li svg {
            font-size: 12px;
            margin: 0 5px;
            color: #117c37; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray {
        opacity: 0.7; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .black {
        opacity: 1; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray-part {
        background: #f8f8f8;
        padding-top: 60px;
        text-align: center;
        transition: all 0.3s ease;
        width: 25%; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray-part ul {
        color: #000000;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        padding: 0; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray-part ul li {
        padding-bottom: 0; }
    ._my-tender-body ._content ._project-content #tender-tabs .results-frame:hover {
      background: #fcf2f3;
      border: #d74954 1px solid;
      cursor: pointer; }
    ._my-tender-body ._content ._project-content #tender-tabs .results-frame:hover .gray-part {
      background: #f1d3d5; }
    ._my-tender-body ._content ._project-content #tender-tabs .results-pagination {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
      text-align: right; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-pagination span {
        color: #000000;
        display: inline-block;
        font-size: 15px;
        margin-right: 10px;
        opacity: 0.7; }
      ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul {
        margin-bottom: 0;
        padding-left: 0; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul li {
          border: 1px solid #d3d6db;
          border-radius: 50%;
          display: inline-block;
          font-size: 15px;
          height: 30px;
          padding-top: 3px;
          text-align: center;
          width: 30px; }
          ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul li a {
            color: #000000;
            opacity: 0.7; }
          ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul li a:hover {
            text-decoration: none; }
        ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul li.active {
          background: #117c37; }
          ._my-tender-body ._content ._project-content #tender-tabs .results-pagination ul li.active a {
            opacity: 1;
            color: #fff; }

@media only screen and (max-width: 991px) {
  .white-btn,
  .red-btn {
    margin-top: 20px; }

  .ui-tabs .ui-tabs-nav li {
    font-size: 14px; }

  ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-tab {
    max-width: 150px;
    height: 60px; }

  ._my-tender-body ._content ._project-content #tender-tabs .tender-buttons .ui-tabs-tab a span {
    display: none; }

  .ui-tabs .ui-tabs-panel {
    padding: 1em 0; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray,
  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .black {
    padding-left: 0; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title h3 {
    font-size: 18px; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame ul {
    font-size: 14px; } }
@media only screen and (max-width: 768px) {
  ._my-tender-body ._content ._search-and-filter-content h3 {
    margin-bottom: 0;
    padding-bottom: 10px; }

  ._my-tender-body ._content ._search-and-filter-content .search-by-keyword input[type="text"] {
    margin-bottom: 15px; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner-whole {
    padding: 15px 20px; }

  ._my-tender-body ._content ._search-and-filter-content h3 {
    font-size: 16px; } }
@media only screen and (max-width: 640px) {
  ._my-tender-body ._content ._project-content {
    padding: 20px; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .results-title h3 {
    font-size: 14px; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame ul li {
    padding-bottom: 10px; } }
@media only screen and (max-width: 576px) {
  ._my-tender-body ._content ._project-content #tender-tabs .results-frame {
    border: 0;
    border-bottom: 1px solid #d4d7dc; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner,
  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner-whole {
    padding: 0;
    padding-bottom: 10px; }

  ._my-tender-body ._content {
    padding: 0 !important; }

  ._my-tender-body ._content ._search-and-filter-content {
    border: 0;
    border-radius: 0;
    margin-bottom: 0; }

  ._my-tender-body ._content ._project-content {
    border-left: 0;
    border-right: 0;
    border-radius: 0; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner,
  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .inner-whole {
    width: 100%; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray-part {
    width: 100%;
    padding-top: 20px; }

  .results-frame:hover {
    background: none;
    border: none;
    cursor: none; }

  .results-frame:hover .gray-part {
    background: none; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame .gray-part ul {
    font-size: 14px;
    margin-bottom: 20px; }

  ._my-tender-body ._content ._project-content #tender-tabs .results-frame {
    flex-direction: column; } }
/*Modules*/
._my-tender-body ._content, .top-header ._content, .mid-header ._content, .below-header ._content, .footer1 ._content, .hero-container ._content, ._tasks-container ._content, .mobile-menu ._content, .well ._content, .footer-mobile .upper-content ._content, .footer-mobile .below-footer ._content, ._step-body ._content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.below-header ._content .master-menu .master-left ul .active a {
  background: #93000a;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none; }

.input-holder input[type="text"], ._contact-details .row:nth-of-type(2) input[type="email"], ._contact-tel input[type="tel"] {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 10px;
  width: 100%; }

.add-person {
  background: transparent;
  border: 1px solid #117c37;
  border-radius: 5px;
  padding: 15px;
  color: #117c37;
  text-transform: capitalize; }

._project-content .fa-question-circle, .fa-pen {
  color: #eeb2b7;
  font-size: 20px;
  vertical-align: baseline; }

/*Alert Mixins*/
/*Main Mixins*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Roboto"; }

/*Top Header*/
.top-header {
  background-color: #f1f2f2; }
  .top-header ._content .sing-container {
    display: flex;
    align-items: center;
    padding: 5px 0; }
    .top-header ._content .sing-container h3 {
      font-family: "Roboto";
      font-size: 12px;
      color: #323c47;
      text-transform: capitalize;
      font-weight: 500;
      margin: 0; }
    .top-header ._content .sing-container img {
      padding-right: 10px;
      max-width: 100%; }

/*Mid Header*/
.mid-header {
  background: #3f4654;
  padding: 10px 0; }
  .mid-header ._content .anc-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mid-header ._content .anc-container .search-container {
      position: relative; }
      .mid-header ._content .anc-container .search-container input[type="search"] {
        border: 0;
        border-radius: 5px;
        padding: 10px 20px;
        width: 580px;
        height: 80%; }
        .mid-header ._content .anc-container .search-container input[type="search"]:focus {
          outline: 0; }
      .mid-header ._content .anc-container .search-container button {
        border: 0;
        background: transparent;
        position: absolute;
        top: 10px;
        right: 0; }
        .mid-header ._content .anc-container .search-container button:hover {
          cursor: pointer; }
        .mid-header ._content .anc-container .search-container button:focus {
          outline: 0; }
        .mid-header ._content .anc-container .search-container button .fa-search {
          color: #c60b18;
          font-size: 18px;
          margin-right: 5px; }

/*Below Header*/
.below-header {
  background: #117c37;
  padding: 10px 0; }
  .below-header ._content .master-menu {
    display: flex;
    justify-content: space-between; }
    .below-header ._content .master-menu .master-left {
      display: flex;
      align-items: center; }
      .below-header ._content .master-menu .master-left ul {
        padding: 0;
        margin: 0;
        margin-left: -5px; }
        .below-header ._content .master-menu .master-left ul li {
          list-style: none;
          display: inline-block; }
          .below-header ._content .master-menu .master-left ul li:not(:first-child) {
            padding-left: 6px; }
          .below-header ._content .master-menu .master-left ul li a {
            font-family: "Roboto";
            font-size: 18px;
            color: #fff;
            text-transform: capitalize;
            padding: 10px;
            position: relative;
            display: block; }
            .below-header ._content .master-menu .master-left ul li a:hover {
              text-decoration: none;
              background: #93000a;
              padding: 10px;
              border-radius: 5px; }
            .below-header ._content .master-menu .master-left ul li a .fa-caret-down {
              font-size: 12px;
              vertical-align: inherit;
              margin-left: 0; }
    .below-header ._content .master-menu .master-right {
      margin-top: -10px; }
      .below-header ._content .master-menu .master-right ul {
        padding: 0;
        margin: 0; }
        .below-header ._content .master-menu .master-right ul li {
          display: inline-block;
          list-style: none; }
          .below-header ._content .master-menu .master-right ul li:hover {
            /*cursor: pointer;*/ }
          .below-header ._content .master-menu .master-right ul li:not(:first-child) {
            padding-left: 20px; }
          .below-header ._content .master-menu .master-right ul li .notif {
            display: flex;
            align-items: flex-end;
            position: relative;
            padding-bottom: 7px; }
            .below-header ._content .master-menu .master-right ul li .notif .fa-bell {
              color: #fff;
              font-size: 25px;
              position: relative;
              bottom: -8px;
              right: 5px; }
            .below-header ._content .master-menu .master-right ul li .notif .circle {
              width: 25px;
              height: 25px;
              background: #34b95f;
              border-radius: 50%;
              position: absolute;
              right: 0;
              left: 8px;
              top: -1px; }
              .below-header ._content .master-menu .master-right ul li .notif .circle span {
                color: #fff;
                font-weight: 600;
                margin-left: 8px; }
          .below-header ._content .master-menu .master-right ul li .admin-panel {
            display: flex;
            align-items: baseline; }
            .below-header ._content .master-menu .master-right ul li .admin-panel img {
              position: relative;
              top: 16px;
              margin-right: 15px; }
            .below-header ._content .master-menu .master-right ul li .admin-panel h3 {
              font-size: 16px;
              color: #fff;
              font-weight: bold;
              margin-bottom: 0; }
              .below-header ._content .master-menu .master-right ul li .admin-panel h3 span {
                font-size: 12px;
                font-weight: 100; }
        .below-header ._content .master-menu .master-right ul .hover:hover {
          cursor: pointer; }
        .below-header ._content .master-menu .master-right ul .for-notif:hover {
          cursor: default !important; }

/*Footer*/
.footer1 {
  background-image: url("../img/footer-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 0; }
  .footer1 ._content .container {
    max-width: 1200px; }
    .footer1 ._content .container .row .cols {
      padding-left: 0;
      padding-right: 0; }
      .footer1 ._content .container .row .cols .mid-footer {
        margin-top: 5px; }
        .footer1 ._content .container .row .cols .mid-footer ul {
          padding: 0;
          margin: 0; }
          .footer1 ._content .container .row .cols .mid-footer ul li {
            list-style: none;
            display: inline-block; }
            .footer1 ._content .container .row .cols .mid-footer ul li a {
              font-size: 15px;
              color: #fff;
              vertical-align: -webkit-baseline-middle; }
            .footer1 ._content .container .row .cols .mid-footer ul li:not(:first-child) {
              padding-left: 30px; }
      .footer1 ._content .container .row .cols .copyright {
        margin-top: 13px; }
        .footer1 ._content .container .row .cols .copyright p {
          font-size: 16px;
          color: #fff;
          text-align: right;
          margin-bottom: 0; }

/*Hero Container*/
.hero-container {
  background-image: url("../img/hero-banner.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-container ._content {
    padding-top: 40px;
    padding-bottom: 40px; }
    .hero-container ._content ._alert-container {
      background: #46be6e;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border: 2px solid #31a557; }
      .hero-container ._content ._alert-container .alert-main {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .hero-container ._content ._alert-container .alert-main p {
          margin-bottom: 0;
          color: #fff;
          font-size: 16px;
          padding: 0 10px;
          margin-left: -70px; }
          .hero-container ._content ._alert-container .alert-main p span img {
            margin-right: 15px;
            margin-top: -5px; }
        .hero-container ._content ._alert-container .alert-main .fa-times {
          color: #1e9043; }
          .hero-container ._content ._alert-container .alert-main .fa-times:hover {
            cursor: pointer; }
  .hero-container .hero-links {
    padding-top: 30px; }
    .hero-container .hero-links .welcome-hero {
      background-image: url("../img/welcome-banner.png");
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid #eaecef;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
      .hero-container .hero-links .welcome-hero .welcome-content {
        padding: 35px 40px; }
        .hero-container .hero-links .welcome-hero .welcome-content ._dates p {
          color: #117c37;
          font-size: 13px;
          text-transform: uppercase; }
          .hero-container .hero-links .welcome-hero .welcome-content ._dates p .fa-calendar-alt {
            font-size: 16px;
            margin-right: 5px; }
      .hero-container .hero-links .welcome-hero .welcome-name p {
        margin-bottom: 0; }
  .hero-container .quick-links p {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .hero-container .quick-boxes .row:not(:last-child) {
    margin-bottom: 15px; }
  .hero-container .quick-boxes a:hover {
    text-decoration: none; }
  .hero-container .quick-boxes a ._box {
    background: #ffffff;
    border: 2px solid #e4e8ed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center; }
    .hero-container .quick-boxes a ._box p {
      font-size: 15px;
      color: #000000;
      margin-bottom: 0;
      text-transform: capitalize;
      font-weight: 500; }
    .hero-container .quick-boxes a ._box img {
      margin-right: 15px; }
    .hero-container .quick-boxes a ._box:hover {
      transition: all 0.3s ease;
      background: #fff9f9;
      border: 2px solid #ce1e2b; }
    .hero-container .quick-boxes a ._box:hover p {
      color: #ce1e2b; }

/*Task Section*/
._tasks-container ._content {
  padding-top: 40px;
  padding-bottom: 40px; }
  ._tasks-container ._content .tasks-content ._title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    ._tasks-container ._content .tasks-content ._title p {
      margin-bottom: 0;
      font-size: 30px;
      color: #000;
      font-weight: bold;
      text-transform: capitalize; }
    ._tasks-container ._content .tasks-content ._title a {
      color: #117c37;
      font-size: 15px;
      font-weight: bold; }
  ._tasks-container ._content .tasks-content .task-bar {
    border: 2px solid #e4e8ed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 30px; }
    ._tasks-container ._content .tasks-content .task-bar:not(:last-child) {
      margin-bottom: 25px; }
    ._tasks-container ._content .tasks-content .task-bar .flexing {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      ._tasks-container ._content .tasks-content .task-bar .flexing .circle {
        width: 85px;
        height: 85px;
        background: #f9e5e7;
        border-radius: 50%; }
        ._tasks-container ._content .tasks-content .task-bar .flexing .circle img {
          margin-left: 24px;
          margin-top: 20px; }
    ._tasks-container ._content .tasks-content .task-bar .flexes {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      ._tasks-container ._content .tasks-content .task-bar .flexes .view-bids {
        display: flex;
        justify-content: flex-end; }
        ._tasks-container ._content .tasks-content .task-bar .flexes .view-bids a {
          color: #117c37;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          border: 2px solid #117c37;
          padding: 15px; }
          ._tasks-container ._content .tasks-content .task-bar .flexes .view-bids a:hover {
            text-decoration: none;
            background: #117c37;
            color: #fff;
            transition: all 0.3s ease; }
  ._tasks-container ._content .tasks-content .task-text {
    margin-left: -65px; }
    ._tasks-container ._content .tasks-content .task-text .task-header {
      display: flex;
      align-items: end; }
      ._tasks-container ._content .tasks-content .task-text .task-header ._main-title h3 {
        color: #000000;
        font-size: 25px;
        font-weight: bold; }
      ._tasks-container ._content .tasks-content .task-text .task-header ._main-title p {
        font-size: 15px;
        color: #737373; }
      ._tasks-container ._content .tasks-content .task-text .task-header .notif-new {
        background: #2fbc4f;
        padding: 5px 15px;
        margin-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        ._tasks-container ._content .tasks-content .task-text .task-header .notif-new p {
          margin-bottom: 0;
          color: #fff;
          text-transform: uppercase;
          font-size: 12px; }
    ._tasks-container ._content .tasks-content .task-text .text-body {
      font-size: 15px;
      color: #000;
      margin-bottom: 0; }
      ._tasks-container ._content .tasks-content .task-text .text-body span {
        color: #117c37; }
        ._tasks-container ._content .tasks-content .task-text .text-body span a {
          color: #117c37; }

/*Latest Update Section*/
.latest-updates {
  background: #edf1f6; }
  .latest-updates .task-bar {
    background: #fff; }

/*Update GRO Section*/
.update-gro .task-bar .task-text {
  margin-left: 0 !important; }

/*Mobile Menu*/
.mobile-menu {
  background: #117c37;
  padding: 20px 0; }
  .mobile-menu ._content .mobile-master {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mobile-menu ._content .mobile-master .mobile-search button {
      background: transparent;
      border: 0; }
      .mobile-menu ._content .mobile-master .mobile-search button:focus {
        outline: 0; }
      .mobile-menu ._content .mobile-master .mobile-search button .fa-search {
        color: #fff;
        font-size: 20px; }

.burger-icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .burger-icon, .burger-icon::before, .burger-icon::after {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .burger-icon::before, .burger-icon::after {
    position: absolute;
    content: ""; }
  .burger-icon::before {
    top: -7px; }
  .burger-icon::after {
    top: 7px; }

.burger-holder.is-active .burger-icon {
  background-color: transparent; }
.burger-holder.is-active .burger-icon::before {
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg); }
.burger-holder.is-active .burger-icon::after {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg); }

.no-scroll {
  display: block; }

.fading {
  opacity: 0.5;
  transition: opacity .15s linear; }

/*SideNav*/
.side-container {
  position: absolute;
  width: 100%;
  z-index: 9999;
  height: 100%;
  display: none; }
  .side-container .side-admin {
    background: #3e4554; }
    .side-container .side-admin .menu-admin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px; }
      .side-container .side-admin .menu-admin .left-admin {
        display: flex; }
        .side-container .side-admin .menu-admin .left-admin p {
          font-size: 18px;
          color: #fff;
          margin-bottom: 0;
          margin-left: 20px;
          line-height: 1.2; }
          .side-container .side-admin .menu-admin .left-admin p span {
            color: #e3e3e3;
            font-size: 15px; }
      .side-container .side-admin .menu-admin ._close .fa-times {
        font-size: 30px;
        color: #fff; }
  .side-container .switch-account {
    background: #f5fbf7;
    padding: 30px; }
    .side-container .switch-account a {
      font-size: 18px;
      color: #34b95f;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .side-container .switch-account p {
      margin-bottom: 0;
      margin-top: 5px; }
  .side-container .mobile-admin-tool {
    background: #3e4554;
    padding: 30px; }
    .side-container .mobile-admin-tool ._tool-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .side-container .mobile-admin-tool ._tool-wrapper a {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase; }
      .side-container .mobile-admin-tool ._tool-wrapper ul {
        margin: 0;
        padding: 0; }
        .side-container .mobile-admin-tool ._tool-wrapper ul li {
          list-style: none;
          display: inline-block; }
          .side-container .mobile-admin-tool ._tool-wrapper ul li .notif {
            display: flex;
            align-items: center;
            position: relative; }
            .side-container .mobile-admin-tool ._tool-wrapper ul li .notif .fa-bell {
              color: #fff;
              font-size: 25px;
              position: relative;
              bottom: -8px;
              right: 5px; }
            .side-container .mobile-admin-tool ._tool-wrapper ul li .notif .circle {
              width: 25px;
              height: 25px;
              background: #34b95f;
              border-radius: 50%;
              position: absolute;
              right: 0;
              left: 8px;
              top: -1px; }
              .side-container .mobile-admin-tool ._tool-wrapper ul li .notif .circle span {
                color: #fff;
                font-weight: 600;
                margin-left: 8px; }
          .side-container .mobile-admin-tool ._tool-wrapper ul li:not(:last-child) {
            padding-right: 15px; }

.list-container {
  background: #edf1f6;
  padding: 50px 30px 150px 30px; }
  .list-container .menu-list ul {
    padding: 0;
    margin: 0; }
    .list-container .menu-list ul li {
      list-style: none; }
      .list-container .menu-list ul li a {
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .list-container .menu-list ul li a:focus {
          text-decoration: none; }
        .list-container .menu-list ul li a .fa-angle-down {
          font-size: 20px;
          color: #117c37; }
      .list-container .menu-list ul li:not(:last-child) {
        margin-bottom: 25px; }
      .list-container .menu-list ul li .mobile-sub {
        padding-left: 15px;
        margin: 0;
        display: none; }
        .list-container .menu-list ul li .mobile-sub li a {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 15px; }
        .list-container .menu-list ul li .mobile-sub li:not(:last-child) {
          margin-top: 25px; }
    .list-container .menu-list ul .active a {
      color: #117c37; }
    .list-container .menu-list ul .open {
      background: #fff;
      border-radius: 5px;
      padding: 15px;
      margin: 0 -15px; }

.speed {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.speed.down {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: all 0.3s linear; }

.noScroll {
  margin: 0;
  height: 0;
  overflow: hidden; }

._page-essentials {
  padding: 30px 0; }

.well ._content h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase; }

._breadcrumbs ul {
  padding: 0;
  margin: 0; }
  ._breadcrumbs ul li {
    list-style: none;
    display: inline-block; }
    ._breadcrumbs ul li a {
      color: #117c37;
      font-size: 15px;
      text-transform: capitalize; }
      ._breadcrumbs ul li a:hover:last-child {
        text-decoration: none; }
    ._breadcrumbs ul li .fa-chevron-right {
      font-size: 12px;
      color: #4c4c4c;
      margin: 0 5px; }
  ._breadcrumbs ul .active a {
    pointer-events: none; }

/*Mobile Footer*/
.footer-mobile .upper-content {
  background-image: url("../img/footer-texture.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .footer-mobile .upper-content ._content {
    padding-top: 15px;
    padding-bottom: 15px; }
  .footer-mobile .upper-content .flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer-mobile .upper-content .flex-footer .right-content ul {
      padding: 0;
      margin: 0; }
      .footer-mobile .upper-content .flex-footer .right-content ul li {
        list-style: none; }
        .footer-mobile .upper-content .flex-footer .right-content ul li a {
          color: #fff;
          font-size: 16px; }
.footer-mobile .below-footer {
  background: #404756; }
  .footer-mobile .below-footer ._content {
    padding-top: 15px;
    padding-bottom: 15px; }
    .footer-mobile .below-footer ._content p {
      font-size: 15px;
      color: #f4f7fb;
      margin-bottom: 0;
      text-align: center; }

/*Step 1*/
.step-container {
  padding: 20px 0; }

._page-essentials {
  background: #ecf0f5; }

._steps ._step-inner {
  width: 50%;
  margin: 0 auto; }
  ._steps ._step-inner .step-circle {
    position: relative;
    padding-bottom: 15px; }
    ._steps ._step-inner .step-circle .circle {
      width: 80px;
      height: 80px;
      background: #ffffff;
      border: 2px solid #117c37;
      border-radius: 50%;
      margin: 0 auto; }
      ._steps ._step-inner .step-circle .circle p {
        margin-bottom: 0;
        color: #117c37;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-top: 15px; }
  ._steps ._step-inner h3 {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0; }

._step-inner.active .circle {
  background: #117c37 !important;
  color: #fff !important;
  border: 2px solid #fff !important; }
  ._step-inner.active .circle p {
    color: #fff !important; }
._step-inner.active:hover {
  pointer-events: none; }

._steps .col-md-3:nth-of-type(2) .circle:before {
  content: '';
  z-index: 9999;
  background: #fff;
  height: 3px;
  width: 15vw;
  top: 40px;
  left: -181px;
  display: block;
  position: absolute; }
._steps .col-md-3:nth-of-type(2) .circle:after {
  content: '';
  z-index: 9999;
  background: #fff;
  height: 3px;
  width: 15vw;
  top: 40px;
  left: 104px;
  display: block;
  position: absolute; }
._steps .col-md-3:nth-of-type(3) .circle:after {
  content: '';
  z-index: 9999;
  background: #fff;
  height: 3px;
  width: 15vw;
  top: 40px;
  left: 104px;
  display: block;
  position: absolute; }

._step-body {
  padding-top: 15px; }
  ._step-body ._content ._project-content {
    background: #ffffff;
    border-radius: 5px;
    border-left: 2px solid #e3e7ec;
    border-right: 2px solid #e3e7ec;
    border-bottom: 2px solid #e3e7ec;
    border-top: 5px solid #117c37;
    padding: 35px; }
    ._step-body ._content ._project-content h3 {
      font-size: 30px;
      color: #000000;
      padding-bottom: 15px; }
    ._step-body ._content ._project-content .bids-container {
      border: 2px solid #e3e7ec;
      border-radius: 5px;
      padding: 40px 12px 12px 12px; }
      ._step-body ._content ._project-content .bids-container p {
        font-size: 22px;
        color: #117c37;
        text-transform: uppercase;
        margin-bottom: 0; }
        ._step-body ._content ._project-content .bids-container p:last-child {
          color: #000000;
          font-size: 30px;
          margin-bottom: 0; }
      ._step-body ._content ._project-content .bids-container:hover {
        transition: all 0.3s ease;
        background: #117c37;
        border: 2px solid #117c37;
        cursor: pointer; }
      ._step-body ._content ._project-content .bids-container:hover p, ._step-body ._content ._project-content .bids-container:hover p:last-child {
        color: #fff !important; }
    ._step-body ._content ._project-content:not(:last-child) {
      margin-bottom: 40px; }

.bids-width {
  max-width: 960px;
  margin: 0 auto; }

.flex-content .active {
  background: #117c37;
  border: 2px solid #117c37;
  pointer-events: none; }
  .flex-content .active p,
  .flex-content .active .amount {
    color: #fff !important; }

.itq-select {
  padding-top: 50px !important; }
  .itq-select p {
    font-size: 20px !important;
    text-transform: none !important; }
  .itq-select ._hiding {
    color: #fff !important; }

.active.itq-select p:first-child {
  color: #117c37 !important; }

.input-holder label {
  display: block;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600; }
.input-holder input[type="text"]:focus {
  outline: 0; }

.first-input input[type="text"] {
  background: #f7f7f7; }

.h-title {
  padding: 0 15px;
  color: #000000;
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0 !important;
  margin-bottom: 15px; }

._project-content .row:not(:last-child) {
  padding-bottom: 20px; }
._project-content .row .category-container {
  display: flex;
  width: 100%; }
  ._project-content .row .category-container ._form-group {
    width: 100%; }
    ._project-content .row .category-container ._form-group:first-child {
      width: 25%;
      margin-right: 20px; }
    ._project-content .row .category-container ._form-group:last-child {
      width: 33%; }
._project-content .row:nth-of-type(3) ._form-group {
  width: 60% !important; }

.mb-3 {
  width: 60%; }
  .mb-3 .input-group-text {
    background: #f9e5e7;
    color: #117c37; }
  .mb-3 input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

._validity {
  width: 60% !important; }

._calendar .mb-3 {
  width: 100%; }
  ._calendar .mb-3 input[type="text"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

._contact-details .row:nth-of-type(2) input[type="email"]:focus {
  outline: 0; }

._contact-tel input[type="tel"]:focus {
  outline: 0; }

.add-person:hover {
  cursor: pointer; }

._no-pads {
  padding: 0; }

.mb-3.from-dates {
  width: 100%; }

.expected-date {
  color: #000000;
  font-size: 15px; }

.postal {
  width: 100% !important;
  position: relative; }
  .postal input[type="text"] {
    border: 1px solid #dadde1;
    border-radius: 5px;
    padding: 10px;
    width: 45%; }
    .postal input[type="text"]:focus {
      outline: 0; }
  .postal button {
    border: 0;
    background: transparent;
    position: absolute;
    top: 10px;
    left: 385px; }
    .postal button .fa-search {
      color: #117c37; }
      .postal button .fa-search:hover {
        cursor: pointer; }
    .postal button:focus {
      outline: 0; }

._separator {
  display: block;
  margin: 0 auto;
  margin-top: 10px; }

.toggle-container h2 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase; }

.autosave-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .autosave-wrapper h4 {
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0px; }
  .autosave-wrapper button {
    border: 0;
    background: #117c37;
    padding: 7px 15px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase; }
    .autosave-wrapper button:hover {
      cursor: pointer; }

/*Step 2*/
._nxt-prv button:not(:first-child) {
  margin-left: 10px; }

.summary-container .apply-textarea {
  width: 100%;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  padding: 15px;
  min-height: 250px; }
  .summary-container .apply-textarea:focus {
    outline: 0; }

.text-count-message {
  color: #000000;
  font-size: 15px; }

.maz {
  float: right; }

.item-container {
  border: 1px solid #dddfe4;
  padding: 30px;
  border-radius: 5px; }
  .item-container .col-md-1 h3 {
    font-size: 20px !important;
    color: #fff; }
  .item-container ._sn h3 {
    color: #000000;
    text-transform: uppercase;
    font-size: 15px !important; }
  .item-container .row:not(:last-child) {
    padding-bottom: 0px !important; }

.sn-content {
  padding: 10px 0 0 0 !important; }

.button-step2 {
  margin-top: 25px; }

.weighted {
  vertical-align: middle !important;
  margin-left: 5px; }

.dropzone {
  border: 2px dotted #117c37;
  border-radius: 5px;
  padding: 70px;
  color: #117c37;
  text-align: center; }

._filedrop {
  display: flex;
  justify-content: space-between;
  padding-top: 15px; }
  ._filedrop p {
    margin-bottom: 0;
    color: #000000;
    font-size: 15px; }

.vendor-title,
.verifier-title {
  padding-left: 0; }

/*Step 4*/
._gathered-info h5 {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px; }
  ._gathered-info h5:not(:first-child) {
    margin-top: 20px; }
._gathered-info .row p {
  margin-bottom: 0;
  color: #000000;
  font-size: 15px; }
._gathered-info .row .col-md-4:last-child p {
  color: #bcbcbc; }

._has-margin p {
  line-height: 1.8; }

.red-color p {
  color: #117c37 !important; }

/*# sourceMappingURL=main.css.map */
